root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Markdown: trailing whitespace can be a hard line break
[*.md]
trim_trailing_whitespace = false

# Swift (umi-kds) conventionally uses 4-space indent
[*.swift]
indent_size = 4

[Makefile]
indent_style = tab
